<p><h2>What is this?</h2>
Hmm..not sure what it is yet. <br />
But basically it is a website that helps you with your melomania!</p>

<p><h2>How?!</h2>
Quite simple! You have a music that you like? 
Type it in and you will, or atleast you should, get back the lyrics of that song, other songs by this artist and similar songs by other people!
Basically it is your own polyvalent DJ or, as I like to call it, "Pandora on Crack"</p>

<p><h2>Why should I use it?</h2>
Because you're cool! No, really. That's the only reason I could come up with!<br />
And of course because it's cool and simple and did I say cool?</p>
