<h1>Georges Duplessy</h1>
<p>I can be reached using any of those methods: </p>
<ul>
  <li><a href="http://twitter.com/gduplessy">Twitter - @gduplessy</a></li>
  <li><a href="http://gduplessy.posterous.com">Through my posterous blog</a></li>
</ul>
