<h1>Help! I'm stuck!</h1>

<h2>How do I use it?</h2>
Pretty simple really, just type the name of an artist or a song in the search box and press the button on the right!<br />
And off you go. Now you will get the most popular video for that query on youtube along with, mostly correct, lyrics for that song.
>
<h2>Who are you?</h2>
A college student hacking his way towards a B.S. in Computer Science.<br />
I'm currently a freshman, and you can follow me on <a href="http://www.twitter.com/gduplessy">twitter</a> or read <a href="http://gduplessy.posterous.com">my blog</a>
