    <header>
    <h1>Pages#home</h1>
    </header>
    <p>Find me in app/views/pages/home.html.erb</p>
    <footer>
    Made by <a href="http://gduplessy.posterous.com">Georges Duplessy</a> About - Help
    </footer>
