<footer>
      <nav class="footer">
      <div class="footer">
        <center>
      <ul>
        <li><a href="http://gduplessy.posterous.com" target="_blank">Made by Georges Duplessy</a></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Help", help_path %></li>
      </ul>
    </center>
  </div>
  </nav>
      </footer>
