<footer>
      <nav class="footer">
      <div class="footer">
        <center>
      <ul>
        <li><a href="http://gduplessy.posterous.com" target="_blank">Made by Georges Duplessy</a></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://podil.heroku.com/" layout="button_count" show_faces="false" width="450"></fb:like></li>
        <li><a href="http://twitter.com/share" class="twitter-share-button" data-url="http://podil.heroku.com/" data-text="Get lyrics for your Music! Check this out!" data-count="horizontal" data-via="gduplessy">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
      </ul>
    </center>
  </div>
  </nav>
      </footer>
